*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(233, 232, 232);
    margin: 0;
}
table{
    width: 90%;
    margin-left: 15%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    text-align: center;
    background-color: white;
}
tr,td,th{
    padding: 5px;
}
tr:hover:not(.ltable){
    background-color: #4450ce;
    color: white;
}
td{
    font-size: 15px;
}
tr{
    font-size: 15px;
}
tr:nth-child(even){
    background: #9197cf;
    color: white;
}
#header{
    background-color: black;
    padding: 10px;
    margin-bottom: 5%;
}
#logout{
    position: absolute;
    top: 5;
    right: 0;
    padding: 10px 15px;
    /* margin-left: 93%; */
    background-color: #9197cf;
    color: white;
    border-radius: 1em;
    font-size: 15px;
    border: none;
    
}
#changeDP{
    position: absolute;
    top: 5;
    right: 0;
    padding: 10px 15px;
    margin-right: 100px;
    background-color: #9197cf;
    color: white;
    border-radius: 1em;
    font-size: 15px;
    border: none;
}
/* #logout{
    padding: 10px 15px;
    margin-left: 50%;
    background-color: #9197cf;
    color: white;
    border-radius: 1em;
    font-size: 15px;
    border: none;
} */
#bside{
    display: inline-block;
}